<div class="container">

    <div class="row">
      <div class="col-xs-12">
        <application-tabs active="address" application="application"></application-tabs>
      </div>
    </div>

    <form name="form" class="form-horizontal" ng-validate="create(application.residences[0])" novalidate>

      <div class="row">
        <div class="col-md-12">

          <div class="panel panel-default">
            <div class="panel-body">

                  <div class="row">

                      <div class="col-xs-4">

                          <div class="form-group">
                              <label for="" class="col-xs-5 control-label">Address:</label>
                              <div class="col-xs-7">
                                  <input name="address" type="text" class="form-control" ng-model="application.residences[0].address" required>
                                  <div class="alert alert-danger" ng-show="form.$submitted && form.address.$error.required">Enter a valid address.</div>
                              </div>
                          </div>
                      </div>
                      <div class="col-xs-4">

                          <div class="form-group">
                              <label for="" class="col-xs-5 control-label">City:</label>
                              <div class="col-xs-7">
                                  <input name="city" type="text" class="form-control" ng-model="application.residences[0].city" required>
                                  <div class="alert alert-danger" ng-show="form.$submitted && form.city.$error.required">Enter a city.</div>
                              </div>
                          </div>
                      </div>
                      <div class="col-xs-4">

                          <div class="form-group">
                              <label for="" class="col-xs-5 control-label">State:</label>
                              <div class="col-xs-7">
                                 <select dropdown="state" name="state" ng-model="application.residences[0].state" ng-dropdown required>
                                    <option ng-option value="{{option.abbrev}}" ng-repeat="option in dropdown.states" >{{option.name}}</option>
                                 </select>
                                 <div class="alert alert-danger" ng-show="form.$submitted && form.state.$error.required">Select a State.</div>
                              </div>
                          </div>
                      </div>

                  </div>

                  <div class="row">

                      <div class="col-xs-4">

                          <div class="form-group">
                              <label for="" class="col-xs-5 control-label">Zip Code:</label>
                              <div class="col-xs-7">
                                  <input type="text" name="zip" class="form-control" ng-model="application.residences[0].zip" ng-mask="zip" ng-minlength="5" required>
                                  <div class="alert alert-danger" ng-show="form.$submitted && form.zip.$error.required">Enter a zip code.</div>
                                  <div class="alert alert-warning" ng-show="form.$submitted && form.zip.$error.minlength">Zip code must be 5 characters length.</div>
                              </div>
                          </div>
                      </div>

                      <div class="col-xs-4">

                          <div class="form-group">
                              <label for="" class="col-xs-5 control-label">How Long:</label>
                              <div class="col-xs-7">
                                 <select name="how_long" dropdown="how_long" ng-model="application.residences[0].how_long" ng-dropdown required>
                                    <option ng-option value="{{option.id}}" ng-repeat="option in dropdown.howlong" >{{option.name}}</option>
                                 </select>
                                 <div class="alert alert-danger" ng-show="form.$submitted && form.how_long.$error.required">Select a "how long" value.</div>
                              </div>
                          </div>
                      </div>

                      <div class="col-xs-4">

                          <div class="form-group">
                              <label for="" class="col-xs-5 control-label">Type:</label>
                              <div class="col-xs-7">
                                 <select name="type" dropdown="type" ng-model="application.residences[0].type" ng-dropdown required>
                                    <option ng-option value="{{option.id}}" ng-repeat="option in dropdown.restypes" >{{option.name}}</option>
                                 </select>
                                 <div class="alert alert-danger" ng-show="form.$submitted && form.type.$error.required">Select a type.</div>
                              </div>
                          </div>
                      </div>

                  </div>

                  <div class="row">

                      <div class="col-xs-4">

                          <div class="form-group">
                              <label for="" class="col-xs-5 control-label">Ownership:</label>
                              <div class="col-xs-7">

                                <!--<select name="ownership_type" ng-model="application.residences[0].residenceOwnershipType" ng-dropdown required>-->
                                <select name="ownership_type" ng-model="application.residences[0].ownership_type" ng-dropdown required>
                                    <option ng-option value="{{option.id}}" ng-repeat="option in dropdown.ownership" >{{option.name}}</option>
                                    <!--<option ng-option value="Not completed" >Not completed</option>
                                    <option ng-option value="Buying" >Buying</option>
                                    <option ng-option value="Own" >Own</option>
                                    <option ng-option value="Renting" >Renting</option>
                                    <option ng-option value="Live with friend(s)" >Live with friend(s)</option>
                                    <option ng-option value="Live with relative" >Live with relative</option>
                                    <option ng-option value="Live with family" >Live with family</option>
                                    <option ng-option value="None" >None</option>-->
                                </select>
                                <div class="alert alert-danger" ng-show="form.$submitted && form.ownership_type.$error.required">Select a ownership.</div>
                               </div>
                          </div>
                      </div>

                      <div class="col-xs-4">

                          <div class="form-group">
                              <label for="" class="col-xs-5 control-label">Year Moved in:</label>
                              <div class="col-xs-7">
                                 <select dropdown="year_moved_in" ng-model="application.residences[0].year_moved_in" ng-dropdown>
                                    <option ng-option value="{{option.id}}" ng-repeat="option in dropdown.years" >{{option.name}}</option>
                                 </select>
                              </div>
                          </div>
                      </div>

                  </div>



            </div>
          </div>

        </div>
      </div>

      <div class="row text-right">
          <div class="col-xs-12">
            <a class="btn btn-default" href="#/application/{{application.id}}/borrower"> <i class="fa fa-long-arrow-left"></i> Previous </a>
            <button class="btn btn-default"> <i class="fa fa-save"></i> Save & Exit </button>
            <button class="btn btn-default" type="submit" > <i class="fa fa-long-arrow-right"></i> Next </button>
        </div>
      </div>

    </form>

</div>
