
 <!-- Buttons -->
<div class="row">
    <div class="col-md-12">
        <div class="btn-group btn-group-justified btn-group-squares">
            <div class="btn-group">
                <a href="#/writeoff" class="btn btn-default easing">
                    <i class="fa fa-pencil"></i>
                    Writeoff
                </a>
            </div>
            <div class="btn-group">

                <a href="@Url.Action("create", "employees")" class="btn btn-default easing">
                    <i class="fa fa-plus-circle"></i>
                    New Application
                </a>
            </div>
            <div class="btn-group">
                <a href="#/check/write" class="btn btn-default easing">
                    <i class="fa fa-pencil-square"></i>
                    Write Check
                </a>
            </div>
            <div class="btn-group">
                <a href="#/check/maintenance" class="btn btn-default easing">
                    <i class="fa fa-wrench"></i>
                    Checkbook Maintenance
                </a>
            </div>
            <div class="btn-group">
                <a href="#/drawer/cash_transfer" class="btn btn-default easing">
                    <i class="fa fa-retweet"></i>
                    Cash Transfer
                </a>
            </div>
            <div class="btn-group">
                <a href="#/collection/assign" type="button" class="btn btn-default easing">
                    <i class="fa fa-check-square-o"></i>
                    Assign Collections
                </a>
            </div>
            <div class="btn-group">
                <a href="#/reports" class="btn btn-default easing">
                    <i class="fa fa-bar-chart"></i>
                    Reports
                </a>
            </div>
            <div class="btn-group">
                <a href="@Url.Action("create", "employees")" class="btn btn-default easing">
                    <i class="fa fa-user"></i>
                    Employees
                </a>
            </div>
        </div>
    </div>
</div>